<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body onload="load();">
	<script>
	function load()
	{
		window.setTimeout(function(){ 
			window.location.href = "<%=raw @redirctUrl %>";
		},100);
	}
	</script>
</body>
</html>
